name: "Create draft release after tag"
on:
  push:
    tags: ["v*"]
permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: ["linux"]
        arch: ["amd64", "arm64"]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - run: mkdir build
      - run: go build -trimpath -o build/lk-jwt-service_${{ matrix.os }}_${{ matrix.arch }}
        env:
          CGO_ENABLED: 0
          GOOS: ${{ matrix.os }}
          GOARCH: ${{ matrix.arch }}
      - name: "Upload binary as artifact"
        uses: actions/upload-artifact@v4
        with:
          name: build-${{ matrix.os }}-${{ matrix.arch }}
          path: build/lk-jwt-service_${{ matrix.os }}_${{ matrix.arch }}

  create-release:
    needs: ["build"]
    runs-on: ubuntu-latest
    steps:
      - name: "Extract version"
        run: echo "IMAGE_VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV
      - name: "Fetch all binaries"
        uses: actions/download-artifact@v4
        with:
          path: build
          pattern: build-*
          merge-multiple: true
      - name: "Create release"
        uses: softprops/action-gh-release@da05d552573ad5aba039eaac05058a918a7bf631 # v2.2.2
        with:
          files: build/*
          fail_on_unmatched_files: true
          draft: true
          generate_release_notes: true
          body: |
            ## Docker image

            The service is available as a Docker image from the [GitHub Container Registry](https://github.com/element-hq/lk-jwt-service/pkgs/container/lk-jwt-service).

            ```
            docker pull ghcr.io/element-hq/lk-jwt-service:${{env.IMAGE_VERSION}}
            ```

            ## Precompiled binaries

            The service is available as static precompiled binaries for amd64 and arm64 on linux attached to this release below.
